
{% extends 'base.html.twig' %}
{% block body %}
    <div class="wrapper">
        {{ include('side_bar.html.twig') }}
        <!-- Page Content -->
        <div id="content">
            {% if result is empty %}
                <div class="alert alert-danger" role="alert">
                    Feeder is invalid. Please execute a valid feed!
                </div>
            {% else %}
                <div class="row" style="padding-bottom: 20px;">
                    <a href="{{ path('feeder_list') }}" class="btn btn-info" role="button">Back</a>
                </div>
                <div class="alert alert-success" role="alert">
                    Feeder Data Successfully Updated to Database!
                </div>
                <div class="col-md-2 alert alert-success" role="alert">
                    <b>New Feeds Added :</b>
                </div>
                <div class="col-md-9 alert alert-info" role="alert">
                    {{ result.new_feed_count}}
                </div>
                <div class="col-md-2 alert alert-success" role="alert">
                    <b>Updated Feeds:</b>
                </div>
                <div class="col-md-9 alert alert-info" role="alert">
                    {{ result.skipped_feed_count}}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}