<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3><a href="{{ path('dashboard') }}">Feed Burner</a></h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a class="link_btn" href="{{ path('dashboard') }}">Dashboard</a>
        </li>
        <li>
            <a class="link_btn" href="{{ path('feeder_list') }}">Feeders</a>
        </li>
        <li>
            <a class="link_btn" href="{{ path('feeds_list_all') }}">Feeds</a>
        </li>
    </ul>
</nav>